.responsive-menu-icon {
	border: 0;
	background: none;
	cursor: pointer;
	padding: 0;
	overflow: visible;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	z-index: 3;

	&:hover,
	&:focus,
	&:active {
		background: transparent;
		outline: 0;
	}

	.menu-icon-wrap,
	.menu-icon,
	.menu-icon::before,
	.menu-icon::after {
		width: 40px;
		height: 2px;
	}
	.menu-icon-wrap {
		display: inline-block;
	}
	.menu-icon {
		opacity: 1;
		position: relative;
		top: 50%;
	}
	.menu-icon,
	.menu-icon::before,
	.menu-icon::after {
		background-color: #555;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}
	.menu-icon::before,
	.menu-icon::after {
		content: "";
		display: block;
	}
	.menu-icon::before {
		top: -12px;
	}
	.menu-icon::after {
		bottom: -12px;
	}

	&:hover {
		.menu-icon {
			opacity: 0.8;
		}
	}

	@include breakpoint(phone-h) {
		.menu-icon-wrap,
		.menu-icon,
		.menu-icon::before,
		.menu-icon::after {
			width: 30px;
		}
		.menu-icon::before {
			top: -9px;
		}
		.menu-icon::after {
			bottom: -9px;
		}

	}
}


/*
 * Spin
 ------------------------------------------ */
.menu-icon {
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-icon::before {
	transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.menu-icon::after {
	transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.toggled-on .menu-icon {
    transform: rotate(225deg);
	transition-delay: 0.14s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.toggled-on .menu-icon::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.toggled-on .menu-icon::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
