a {
	color: $color__base;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		outline: 0;
	}
	&:focus {
		outline: thin dotted;
	}
}

.site-content a:not(.btn) {
	border-bottom: 1px solid $color__base;
	padding-bottom: .25em;

	&:hover,
	&:focus,
	&:active {
		border-width: 2px;
		padding-bottom: .1875em;
	}

}
