.sub-navigation {
	float: right;
	margin-bottom: 1.25em;

	@include breakpoint(tablet-v) {
		float: none;
		text-align: left;
		margin-left: 1.25em;
		margin-bottom: 1.5em;
	}

	.menu {
		display: inline-block;
		position: relative;
		left: -.25em;
		text-align: left;
		width: 656px;

		@include breakpoint(tablet-v) {
			width: auto;
		}
		@include breakpoint(phone-h) {
			left: -.75em;
		}
	}

	li {
		display: inline-block;
	}

	a {
		display: inline-block;
		color: $color__base;
		font-weight: $font__weight-normal;
		letter-spacing: 1px;
		line-height: 1.25;
		padding-top: .25em;
		margin: 0 1em;
		@include font-size(1.375);

		@include breakpoint(tablet-v) {
			@include font-size(1);
		}
		@include breakpoint(phone-v) {
			@include font-size(.875);
			margin: 0 .5em;
		}
	}

	.current-menu-item,
	.current-menu-ancestor {
		background: #000000;
		color: #ffffff;

		a {
			color: #ffffff;
		}
	}
}

.single-artwork .sub-navigation li:nth-child(2),
.special-collection .sub-navigation li:nth-child(2),
.single-exhibition:not(.special-collection) .sub-navigation li:first-child {
	background: #000000;
	color: #ffffff;

	a {
		color: #ffffff;
		font-weight: 300;
	}
}
