.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	margin: 0;

	div {
		@include font-size(1);
		text-transform: uppercase;
	}
	p {
		margin-bottom: 0;
	}
}

.entry-title,
.page-title {
	letter-spacing: 1px;
	padding: 0;
	word-break: break-word;

	@include breakpoint(phone-h) {
		@include font-size(1.875);
	}
}

.entry-content {
	ol,
	ul {margin-left: 1.75em;}

	ol > li {list-style-type: decimal;}
	ul > li {list-style-type: disc;}

	ol ol,
	ul ul,
	ul ol,
	ol ul {
		margin-bottom: 0;
		li:last-child {padding-bottom: 0;}
	}

	dt {font-weight: $font__weight-bold;}
	dd {margin: 0 1em 1em;}
}
