.header-widget-wrap {
	background-color: #ffffff;
	display: none;
}

.header-widget {
	background-color: #ffffff;
	border: 3px solid $color__yellow;
	padding: .5em 2em .25em 4em;
	@include font-size(1.25);

	@include breakpoint(phone-h) {
		padding: .5em .25em .75em 2.25em;
		line-height: 1;
		@include font-size(1);
	}

	&:hover {
		background-color: $color__yellow;
	}
	&.aquamarine {
		border-color: $color__green;
		&:hover {
			background-color: $color__green;
		}
	}
	&.sky {
		border-color: $color__blue;
		&:hover {
			background-color: $color__blue;
		}
	}
	&.tangerine {
		border-color: $color__orange;
		&:hover {
			background-color: $color__orange;
		}
	}
	&.mocha {
		border-color: $color__tan;
		&:hover {
			background-color: $color__tan;
		}
	}
	&.pansy {
		border-color: $color__purple;
		&:hover {
			background-color: $color__purple;
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	.circle-num {
		font-weight: $font__weight-bold;
		margin-right: 1em;

		@include breakpoint(phone-h) {
			margin-right: .125em;
		}
	}

	.close {
		color: #000;
		cursor: pointer;
		position: relative;
		float: right;
		width: 40px;
		height: 40px;

		&:hover {
			.cssicon-x {
				&:before,
				&:after {
					height: 2px;
				}
			}
		}
	}
}
