.site-footer {
	background-color: #000000;
	clear: both;
	width: 100%;
	padding: 0 $size__site-padding;

	a {
		color: #ffffff;
	}

	.social {
		font-weight: $font__weight-bold;
		margin-bottom: 2em;

		@include breakpoint(phone-h) {
			margin-left: 1em;
		}

		a:hover {
			opacity: .7;
		}
	}

	.fsu-logo {
		text-align: right;

		@include breakpoint(phone-h) {
			margin: 4em 0 0 1em;
			text-align: left;
		}

		img {
			width: 230px;
		}
	}

	.copyright {
		margin-top: .5em;
		text-align: right;
		@include font-size(.75);

		@include breakpoint(phone-h) {
			margin-left: 1em;
			text-align: left;
		}
	}

	input[type="submit"] {
		color: #ffffff;
	}

}

.site-info {
	color: #ffffff;
	letter-spacing: 1px;
	padding: 2em 0 .5em;
	position: relative;

}

.site-footer .menu {
	margin-bottom: 2em;

	li {
		float: left;
		padding-right: 1em;
		width: 20%;
		line-height: 1.5em;

		a {
			border-bottom: 1px solid #ffffff;
			color: #ffffff;
			display: inline;
			font-weight: $font__weight-bold;
			letter-spacing: 2px;
			padding: .25em 0;
			text-transform: uppercase;

			&:hover {
				border-width: 2px;
			}
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			background-color: #fff;
			color: #000;
			padding-left: .75em;
			padding-right: .75em;
			margin-left: -.75em;
		}
	}

	.sub-menu {
		margin: 1.5em 0 3em;

		@include breakpoint(tablet-v) {
			margin: 1.5em 0;
		}
		@include breakpoint(phone-h) {
			display: none;
		}

		li {
			float: none;
			width: auto;
			padding: 0 0 1.25em 0;

			&.current-menu-item > a,
			&.current-menu-ancestor > a {
				background: none;
				color: #ffffff;
				border-bottom: 1px solid #fff;
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
			}
		}

		a {
			border: none;
			font-weight: $font__weight-normal;
			text-transform: none;
			letter-spacing: 1px;
			@include font-size(1);

			&:hover {
				border-bottom: 1px solid currentColor;
			}
		}
	}

	@include breakpoint(tablet-m) {
		li {
			width: 33%;
		}
	}

	@include breakpoint(phone-h) {
		margin-left: 3%;

		li {
			float: none;
			margin-bottom: 1em;
			width: 100%;
		}
	}
}
