@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-Light.eot');
  src: url('assets/fonts/Hellix-Light.woff2') format('woff2'),
       url('assets/fonts/Hellix-Light.woff') format('woff'),
       url('assets/fonts/Hellix-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-LightItalic.eot');
  src: url('assets/fonts/Hellix-LightItalic.woff2') format('woff2'),
       url('assets/fonts/Hellix-LightItalic.woff') format('woff'),
       url('assets/fonts/Hellix-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-Regular.eot');
  src: url('assets/fonts/Hellix-Regular.woff2') format('woff2'),
       url('assets/fonts/Hellix-Regular.woff') format('woff'),
       url('assets/fonts/Hellix-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-RegularItalic.eot');
  src: url('assets/fonts/Hellix-RegularItalic.woff2') format('woff2'),
       url('assets/fonts/Hellix-RegularItalic.woff') format('woff'),
       url('assets/fonts/Hellix-RegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-Bold.eot');
  src: url('assets/fonts/Hellix-Bold.woff2') format('woff2'),
       url('assets/fonts/Hellix-Bold.woff') format('woff'),
       url('assets/fonts/Hellix-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DFHellix';
  src: url('assets/fonts/Hellix-BoldItalic.eot');
  src: url('assets/fonts/Hellix-BoldItalic.woff2') format('woff2'),
       url('assets/fonts/Hellix-BoldItalic.woff') format('woff'),
       url('assets/fonts/Hellix-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: italic;
}
.alt-font,.af { font-feature-settings: "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss10", "ss11", "ss13", "ss15"; }
.alt-font-all,.afa { font-feature-settings: "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09", "ss10", "ss11", "ss12", "ss13", "ss15", "ss16", "ss17", "ss18", "ss19", "ss20"; }
