@font-face {
  font-family: 'Hellix';
  src: url('assets/fonts/Hellix-Light.eot');
  src: url('assets/fonts/Hellix-Light.woff2') format('woff2'),
       url('assets/fonts/Hellix-Light.woff') format('woff'),
       url('assets/fonts/Hellix-Light.ttf') format('truetype'),
       url('assets/fonts/Hellix-Light.svg#Hellix-Light') format('svg'),
       url('assets/fonts/Hellix-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hellix';
  src: url('assets/fonts/Hellix-Bold.eot');
  src: url('assets/fonts/Hellix-Bold.woff2') format('woff2'),
       url('assets/fonts/Hellix-Bold.woff') format('woff'),
       url('assets/fonts/Hellix-Bold.ttf') format('truetype'),
       url('assets/fonts/Hellix-Bold.svg#Hellix-Bold') format('svg'),
       url('assets/fonts/Hellix-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}
