body.single-artwork {
	background-color: $color__green;

	.print-info {
		text-align: right;
		font-weight: $font__weight-bold;
		margin-bottom: 3em;

		@include breakpoint(phone-h) {
			text-align: left;
			@include font-size(.75);
		}

		a {
			color: $color__base;

			&:hover {
				color: #ffffff;
			}
		}

		span {
			margin-left: .5em;
		}
	}

	.artist-name {
		@include font-size(1.625);
	}
	.artist-info {
		margin-bottom: 3em;
		@include breakpoint(phone-h) {
			margin-bottom: 1.5em;
		}
	}

	.artwork-title {
		font-weight: $font__weight-light;
		margin-bottom:.25em;
		@include font-size(1.625);
	}

	.artwork-info {
		margin-bottom: 1em;
	}

	.art-left,
	.art-right,
	.more-left,
	.more-right {
		padding: 3em 0;

		@include breakpoint(phone-h) {
			padding: .5em 0;
		}
	}

	.catname {
		margin-bottom: 3em;
		@include font-size(2.75);

		@include breakpoint(tablet-v) {
			margin-bottom: 1.5em;
			@include font-size(2);
		}
		@include breakpoint(phone-h) {
			@include font-size(1.5);
		}
	}

	.artwork-img {
		margin-bottom: 4em;

		@include breakpoint(phone-h) {
			margin-bottom: 0;

			img {
				margin-left: -3.5%;
				margin-bottom: 0;
				max-width: none;
				width: 107%;
			}
		}
	}
}
