
body.color1,
body.error404 {
	background-color: $color__orange;
}
body.color2 {
	background-color: $color__green;
}
body.color3 {
	background-color: $color__yellow;
}
body.color4 {
	background-color: $color__tan;
}
body.color5 {
	background-color: $color__purple;
}

.site-navigation {

	.color1 a:hover,
	.color1 a:focus {
		background-color: $color__orange;
	}
	.color2 a:hover,
	.color2 a:focus {
		background-color: $color__green;
	}
	.color3 a:hover,
	.color3 a:focus {
		background-color: $color__yellow;
	}
	.color4 a:hover,
	.color4 a:focus {
		background-color: $color__tan;
	}
	.color5 a:hover,
	.color5 a:focus {
		background-color: $color__purple;
	}
}

@include breakpoint(tablet-v) {
	.site-navigation {

		.color1.current-menu-item > a {
			background-color: $color__orange;
		}
		.color2.current-menu-item > a {
			background-color: $color__green;
		}
		.color3.current-menu-item > a {
			background-color: $color__yellow;
		}
		.color4.current-menu-item > a {
			background-color: $color__tan;
		}
		.color5.current-menu-item > a {
			background-color: $color__purple;
		}
	}

	.home .site-navigation .color1 a,
	.seeart .site-navigation .color1 a {
		background-color: $color__orange;
	}
	.home .site-navigation .color2 a,
	.learncreate .site-navigation .color2 a {
		background-color: $color__green;
	}
	.home .site-navigation .color3 a,
	.vis .site-navigation .color3 a {
		background-color: $color__yellow;
	}
	.home .site-navigation .color4 a,
	.joinsupport .site-navigation .color4 a {
		background-color: $color__tan;
	}
	.home .site-navigation .color5 a,
	.meetus .site-navigation .color5 a {
		background-color: $color__purple;
	}
}

@include breakpoint(tablet-min-v) {
	.site-navigation {

		.color1 a {
			border-bottom: 12px solid $color__orange;
		}
		.color2 a {
			border-bottom: 12px solid $color__green;
		}
		.color3 a {
			border-bottom: 12px solid $color__yellow;
		}
		.color4 a {
			border-bottom: 12px solid $color__tan;
		}
		.color5 a {
			border-bottom: 12px solid $color__purple;
		}

		.color1,
		.color2,
		.color3,
		.color4,
		.color5 {

			&.current-menu-item > a,
			&.current-menu-ancestor > a {
				border-bottom-color: #ffffff;

				&:hover {
					border-bottom-color: transparent;
				}
			}

			.sub-menu a {
				border: none;
			}
		}
	}
}
