.single-exhibition {
	background-color: $color__tan;

	.exhibition-featured-date {
		background-color: $color__tan;
		font-weight: $font__weight-light;
		padding: 1rem 2.5rem;
		display: inline-block;
		position: relative;
		float: right;
		top: -5rem;
		z-index: 3;
		@include font-size(1.875);
	}

	.page-title {
		padding: 3rem 2.5rem 6rem;
		@include font-size(4.6875);
	}

	.ex-intro {
		font-weight: $font__weight-light;
		padding: 0 4rem 8rem 2.5rem;
		@include font-size(1.625);
	}
	.ex-content {
		padding: 0 8rem 8rem 0;
	}
	.ex-info {
		padding: 0 0 5rem 2.5rem;

		span {
			font-weight: $font__weight-bold;
		}
	}

	.ex-social {
		padding: 1rem 10rem 5rem 0;
		text-align: right;

		.social-link {
			margin-bottom: 2em;
		}

		.cssicon-facebook:after {
			color: $color__tan;
		}

		a {
			color: #000000;

			&:hover {
				opacity: .5;
			}

			.link {
				border-bottom: 1px solid currentColor;
				font-weight: $font__weight-bold;
				letter-spacing: 2px;
				padding-bottom: 3px;
				text-transform: uppercase;
			}
		}
	}

	.artworks {
		margin: 3em 0;
	}

	.artwork {
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		padding-bottom: 3em;
		@include font-size(.875);

		@include breakpoint(tablet-v) {
			width: 47%;
			margin-left: 1.5%;
			margin-right: 1.5%;
		}
		@include breakpoint(phone-h) {
			width: 46%;
			margin-left: 2%;
			margin-right: 2%;
		}
		@include breakpoint(phone-v) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.artwork-img {
		margin-bottom: .5em;

		img {
			display: block;
			max-width: none;
			width: 100%;
		}
	}

	blockquote {
		font-weight: $font__weight-light;
		line-height: 1.375;
		margin: 1.5em 3em 1em 7em;
		@include font-size(2.8125);

		cite {
			margin-top: 1.5em;
			@include font-size(1.375);

			strong {
				letter-spacing: 1px;
				@include font-size(1);
			}
		}

		@include breakpoint(tablet-h) {
			margin: 1.5em 1em;
			@include font-size(2.5);

		}
		@include breakpoint(tablet-v) {
			margin: .75em 0 1.5em;
			@include font-size(2);
		}
	}

	.more-left,
	.more-right {
		padding-top: 3em;
		padding-bottom: 8em;
		@include font-size(.875);
	}

	.more-left {
		padding-left: 10em;
		padding-right: 6em;

		@include breakpoint(tablet-m) {
			padding-left: 5em;
		}
	}

	@include breakpoint(tablet-v) {
		.more-left,
		.more-right {
			padding-top: .5em;
			padding-bottom: .5em;
			padding-left: .5em;
			padding-right: .5em;
		}
	}
}
