.footer-quote,
.signup-block {

	.flexme {
		clear: both;
		display: flex;

		@include breakpoint(tablet-v) {
			display: block;
		}
	}

	img {
		display: block;
		max-width: none;
		height: 600px;
		object-fit: cover;;
		width: 100%;

		@include breakpoint(tablet-h) {
			height: 450px;
		}
		@include breakpoint(phone-h) {
			height: 300px;
		}
	}

	.txtblk {
		padding: 1em 3em;

		@include breakpoint(tablet-h) {
			height: 450px;
		}
		@include breakpoint(tablet-v) {
			padding: 1.5em;
		}
		@include breakpoint(phone-h) {
			padding: 1em;
			height: 300px;
		}
	}
}


.signup-form,
.footer-quote blockquote {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	@include breakpoint(tablet-v) {
		//top: auto;
		//transform: none;
	}
}

.footer-quote {
	background-color: $color__blue;
	position: relative;

	&.orange {background-color: $color__orange;}
	&.green {background-color: $color__green;}
	&.yellow {background-color: $color__yellow;}
	&.blue {background-color: $color__blue;}
	&.tan {background-color: $color__tan;}
	&.purple {background-color: $color__purple;}

	blockquote {
		line-height: 1.375;
		margin: 0;
		padding-right: 0;
		@include font-size(2.8125);

		@include breakpoint(tablet-m) {
			@include font-size(1.875);
		}
		@include breakpoint(phone-h) {
			@include font-size(1.5);
		}

		cite {
			@include font-size(1.4375);

			@include breakpoint(phone-h) {
				@include font-size(1.25);
			}
		}

		a {
			@include font-size(1);
		}
	}
}

.signup-block {
	background-color: $color__yellow;
	@include font-size(1.625);

	@include breakpoint(phone-h) {
		@include font-size(1.375);
	}
	form {
		line-height: 1;
	}
	.form-submit {
		input[type="submit"] {
			padding-right: 3em;
			background-color: $color__base;
			color: #fff;

			&:hover {
				background-color: transparent;
				color: $color__base;
			}

			@include breakpoint(phone-h) {
				padding-right: 2em;
			}
		}
		.cssicon-arrow-r {
			color: #ffffff;
			left: -2.125em;
			top: 1px;
			z-index: 5;
		}
		&:hover,
		&:focus,
		&:active {
			.cssicon-arrow-r {
				color: #000000;
			}
		}
	}
}
