body.home {
	background-color: $color__yellow;

	.heroslider {
		img {
			height: calc(100vh - 88px);
		}
	}

	.hero-callout {
		background-color: $color__yellow;
	}

	.site-content {
		.content-area {
			padding-top: 0;
		}
	}

	.page-title {
		height: 390px;
		line-height: 1;
		margin: 0 0 4em;
		width: 55%;
		@include font-size(8);

		@include breakpoint(tablet-h) {
			width: 100%;
		}
		@include breakpoint(tablet-v) {
			margin-bottom: 1000px;
			margin-left: $size__site-padding;
			@include font-size(6);
		}
		@include breakpoint(phone-h) {
			height: 220px;
			@include font-size(4);
		}
	}

	// MID BLOCK - - - - - - - - - - - - - - - -
	.mid-block {
		background-color: $color__green;
		padding-bottom: 4em;

		@include breakpoint(tablet-v) {
			.top.mid-left {
				margin-top: -1050px;
			}
		}
		@include breakpoint(phone-h) {
			.top.mid-left {
				margin-top: -950px;
			}
		}

		.imageblock  {
			img {
				@include breakpoint(tablet-h) {
					height: 700px;
				}
				@include breakpoint(phone-h) {
					height: 600px;
				}
			}
		}

		.mid-right .message {
			font-weight: $font__weight-bold;
			line-height: 1.25;
			@include font-size(2.8125);

			@include breakpoint(phone-h) {
				@include font-size(2);
			}

			a {
				margin-top: 3em;
				display: inline-block;
				@include font-size(1);
			}
		}
	}

	.top { // part of bg anim.
		.card-title {
			background-color: $color__yellow;
		}
	}
	.bot { // NOT part of anim.
		.card-title {
			background-color: $color__green;
		}
	}

	// VISIT BLOCK - - - - - - - - - - - - - - - - - - - -
	.visit-block {
		background-color: $color__yellow;
	}
	.home-info {
		padding: 5em 0 2em;
		@include font-size(1.125);

		@include breakpoint(tablet-v) {
			padding-left: $size__site-padding;
			padding-right: $size__site-padding;
		}

		.section-title {
			line-height: 1;
			margin-bottom: .75em;
			@include font-size(6.25);

			@include breakpoint(phone-h) {
				@include font-size(5);
			}
		}

		h5 {
			text-transform: uppercase;
			margin-bottom: 2em;
			@include bigtext();
			@include font-size(1);

			span {
				padding-bottom: 4px;
				border-bottom: 1px solid $color__base;
			}
		}

		.big {
			line-height: 1;
			font-weight: $font__weight-light;
			@include font-size(3.125);
		}

		.col-1-3 {
			margin-bottom: 2em;
		}

		td {
			padding: 0;
			border: 0;
		}
	}
	.site-content .section-title a:not(.btn) {
		@include nb();
	}

	// SOCIAL - - - - - - - - - - - - - - - - - - - - - -
	.social-block {
		background-color: #ffffff;
		padding: 2em 0;
		text-align: right;

		@include breakpoint(tablet-v) {
			text-align: center;
		}

		.image-blocks {
			display: inline-block;
			width: 75%;
			margin-right: -4em;

			@include breakpoint(tablet-v) {
				margin-right: 0;
			}
			@include breakpoint(phone-h) {
				margin-left: -3%;
				width: 106%;
			}
		}
		.col-1-3 {
			padding: 1em 2em;

			@include breakpoint(phone-h) {
				padding: .5em 0;
			}
		}

		.cssicon-facebook:after,
		.cssicon-linkedin:after {
			color: #77414d;
		}
	}

	.s-image {
		border: 10px solid #77414d;
		position: relative;


		img {
			display: block;
			width: 100%;
		}
		&:hover	.overlay-text {
			display: block;
			opacity: 1;
		}
	}
	.overlay-text {
		//display: none;
		background-color: #77414d;
		color: #ffffff;
		text-align: center;
		opacity: 0;
		position: absolute;
		top:0;right:0;bottom:0;left:0;
		transition: all 200ms ease-in-out;
		z-index: 5;

		strong {
			border-bottom: 1px solid currentColor;
			letter-spacing: 2px;
			padding-bottom: 4px;
			text-transform: uppercase;
		}

		a {
			color: #ffffff;
			display: inline-block;
			height: 100%;
			@include nb();
		}
		.txt {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.text-links {
		font-weight: $font__weight-light;
		padding: 1em 1em 0;
		@include font-size(2.5);

		@include breakpoint(tablet-v) {
			@include font-size(1.5);
		}
	}
}



// BACKGROUND COLOR TRANSITION
@keyframes colorchange {
	0%   {background: $color__yellow;}
	5%   {background: $color__yellow;}
	25%  {background: $color__blue;}
	45%  {background: $color__green;}
	65%  {background: $color__tan;}
	85%  {background: $color__orange;}
	100% {background: $color__yellow;}
}
body.home,
body.home .hero-callout,
body.home .top .card-title {
   	animation: colorchange 32s;
	animation-iteration-count: infinite;
}

// HERO BORDER ANIMATION
.sl {
	position: relative;
}
.sl.slick-current .progbar {
    animation-play-state: running;
}
