body.learncreate {

	.page-title {
		line-height: 1;
		margin: 0 0 3.625em;
		width: 69%;
		@include font-size(8);

		@include breakpoint(tablet-h) {
			width: 100%;
		}
		@include breakpoint(tablet-v) {
			@include font-size(6);
			margin-bottom: 1em;
		}
		@include breakpoint(phone-h) {
			@include font-size(4);
		}
	}
}



// -----------------------------------------------
// COURSES ---------------------------------------
// -----------------------------------------------
// -----------------------------------------------

.courses-intro {
	padding: 3em 1em;
	@include font-size(1.875);
}
.course-rows-wrap {
	margin-bottom: 8em;
}
.course-headers {
	font-weight: $font__weight-bold;
	padding: 1em 1em 2em;

	@include breakpoint(tablet-v) {
		padding: 0 1em;
	}
}

.course-row {
	border-bottom: 1px solid $color__base;
	padding: 0 1em;
	width: 100%;

	&.active {
		z-index: 5;
	}

	.row-top {
		display: flex;
	 	flex-wrap: wrap;
		padding-top: 1.5em;
	}
	.row-bottom {
		display: none;
		padding-top: 3em;
	}
	.course-images {
		margin: 3em 0 4em;

		img {
			display: block;
			max-width: none;
			height: 300px;
			object-fit: cover;
			width: 100%;
		}
	}
}

.course-col {

	&.fb {
		display: flex;
		line-height: 1.5;

		h6 {
			line-height: 1.25;
			@include font-size(1);
		}
	}

	.session-num {
		display: inline-block;
		background-color: #000;
		border-radius: 50%;
		color: #fff;
		line-height: 1;
		margin-top: auto;
		padding: .5em .6875em .375em;
		margin-right: .5em;
		margin-bottom: .5em;
	}

	.date {
		display: inline-block;
		margin-top: auto;
		padding-bottom: .5em;
	}

	.instructors {
		border-bottom: 2px solid #000;
		margin-top: auto;
		padding-bottom: .375em;
	}

	.display-name {
		font-weight: $font__weight-bold;
		margin-top: auto;

		span {
			display: inline-block;
			border-bottom: 2px solid #000;
			padding-bottom: .375em;
		}
	}

	.price,
	.control {
		float: left;
		width: 50%;
	}
	.price {
		margin-top: auto;
		font-weight: $font__weight-bold;
		padding-bottom: .375em;
	}
	.level-o,
	.price-o {
		float: left;
		margin-top: auto;
		padding-bottom: .375em;
	}
	.level-o {
		width: 75%;
	}
	.price-o {
		font-weight: $font__weight-bold;
		width: 25%;
	}

	.control {
		margin: auto;

		@include breakpoint(tablet-v) {
			text-align: right;
			position: relative;
			top: 175%;
		}
	}
	.btn {
		margin: auto;

		@include breakpoint(tablet-m) {
			letter-spacing: 1px;
			margin: 1em 0;
			padding-right: 1.5em;
			padding-left: .5em;

			&:before,
			&:after {
				right: .25em;
			}
		}
	}
}

.sessions {}
.session-note {}
.other-courses {}



// -----------------------------------------------
// -----------------------------------------------
// -----------------------------------------------
// -----------------------------------------------

.course-blocks {
	margin-bottom: 6em;
}
.course-overview-box {
	border: 1px solid $color__green;
	padding: 3em 3em 6em;

	.box-bottom {
		display: none;
	}

	.box-close {
		border-bottom: 1px solid $color__base;
		cursor: pointer;
		float: right;
		padding: 5px 3px;
		margin: 1em 0;
	}

	.box-top {
		display: flex;
	 	flex-wrap: wrap;
	}

	.c-title,
	.c-level {
		display: flex;
	}
	.title-text,
	.cssicon-plusminus {
		margin: auto 0;
	}
	.c-level {
		margin: auto;
	}

	.c-title {
		font-weight: $font__weight-bold;
		@include font-size(1.625);

		.title-text {
			border-bottom: 1px solid $color__base;
			margin-right: 2em;
		}
	}

	.c-level,
	.c-button {
		display: inline-block;
		text-align: right;
	}

	.c-intro {
		margin: 1em 0;
		@include font-size(1.25);
	}

	.c-list-header {
		clear: both;
		font-weight: $font__weight-bold;
		letter-spacing: 2px;
		margin: 2em 0 1em;
		text-transform: uppercase;
		@include font-size(1);

		span {
			border-bottom: 1px solid $color__base;
		}
	}


// -----------------------------------------------

	.vaca-blocks {
		display: flex;

		.vaca-block:nth-of-type(1) {
			border-right: 1px solid rgba(0, 0, 0, .25);
			padding-left: 1em;
			padding-right: 6em;
		}
		.vaca-block:nth-of-type(2) {
			padding-left: 6em;
			padding-right: 1em;
		}
	}

	.vaca-title {
		font-weight: $font__weight-bold;
		letter-spacing: 2px;
		margin: 2em 0 1em;
		text-transform: uppercase;
		@include font-size(1);

		span {
			border-bottom: 1px solid $color__base;
			padding-bottom: 4px;
		}
	}

	.vaca-text {
		@include font-size(1.625);

		p {
			margin-bottom: .5em;
		}
	}
	.vaca-dates {
		margin-bottom: 2em;
	}
	.vaca-btn {
		margin-bottom: 1em;
	}
	.vd-date {
		float: left;
		width: 70%;
	}
	.vd-price {
		float: left;
		font-weight: $font__weight-bold;
		text-align: right;
		width: 30%;
	}
}



// -----------------------------------------------
// -----------------------------------------------
// -----------------------------------------------
// -----------------------------------------------

body.learncreate {

	.course-overview-box.lt-green {
		&:hover,
		&.active {
			background-color: $color__green-xxlt;
		}
	}
	.course-overview-box.m-green {
		&:hover,
		&.active {
			background-color: $color__green-xlt;
		}
	}
	.course-overview-box.d-green {
		&:hover,
		&.active {
			background-color: $color__green-lt;
		}
	}

	//.course-row:hover,
	//.course-row.active {
	//	background-color: $color__green-xxlt;
	//}
}


body.learn-c {

	.page-title {
		margin: 2em 0 6em;
		@include font-size(2.8125);
	}

	.tabs-wrap {
		margin-top: -11.875em;
	}
	.tab-tab {
		float: left;
		width: 50%;
		cursor: pointer;
		min-height: 192px;
		padding: 1.5em 2em 0;
		position: relative;
		z-index: 2;
		@include font-size(1.25);

		@include breakpoint(tablet-m) {
			line-height: 1.5;
			@include font-size(1);
		}
		@include breakpoint(tablet-v) {
			padding: .75em;
		}
		h2 {
			font-weight: $font__weight-light;
			@include font-size(2.8125);

			@include breakpoint(tablet-m) {
				line-height: 1.125;
				margin-bottom: .5em;
				@include font-size(2.5);
			}
			@include breakpoint(tablet-v) {
				@include font-size(2);
			}

			span {
				padding-bottom: 3px;
				border-bottom: 1px solid $color__base;
				@include breakpoint(phone-h) {
					padding-bottom: 0;
				}
			}

		}
		&.active {
			cursor: auto;
			background-color: #ffffff;
			border-top: 1px solid $color__base;
			border-right: 1px solid $color__base;
			border-left: 1px solid $color__base;

			h2 {
				font-weight: $font__weight-bold;
				span {
					border: none;
				}
			}
		}
	}
	.tab-body {
		border: 1px solid $color__base;
		padding: 3em 2.5em;
		margin-bottom: 6em;
		position: relative;
		top: -1px;

		@include breakpoint(tablet-v) {
			padding: 1em;
		}

		&.active {
			display: block;
		}
	}
	.tab-intro {
		font-weight: $font__weight-light;
		margin-bottom: 2em;
		padding-right: 1em;
		@include font-size(1.625);

		@include breakpoint(phone-h) {
			@include font-size(1.25);
			margin-bottom: 0;
		}
	}
	.tab-content {
		padding: 1em 4em 1em 1em;
		@include breakpoint(phone-h) {
			padding: 0 0 1.5em;
		}
	}
	.tab-courses-intro {
		margin-bottom: 3em;
	}
	.tab-filter {
		margin-bottom: 3em;
	}
	.tab-filter-text {
		margin-bottom: 3em;
	}
}

.filter-buttons {
	button {
		float: left;
		margin: 0 1em 1em 0;
	}

}

body.k-8 {
	background-color: $color__green-xxlt;
	.accordion:hover,
	.accordion.active,
	.course-row:hover,
	.course-row.active {
		background-color: $color__green-xxlt;
	}
}
body.teens {
	background-color: $color__green-lt;
	.accordion:hover,
	.accordion.active,
	.course-row:hover,
	.course-row.active {
		background-color: $color__green-lt;
	}
}
body.adults {
	background-color: $color__green-xlt;
	.accordion:hover,
	.accordion.active,
	.course-row:hover,
	.course-row.active {
		background-color: $color__green-xlt;
	}
}
