body.meetus {

	.page-title {
		line-height: 1;
		margin: 1.5em 0 8em;
		//width: 70%;
		@include font-size(4.6875);

		@include breakpoint(tablet-h) {
			width: 100%;
		}
		@include breakpoint(tablet-v) {
			@include font-size(6);
			margin: .5em 0 1em;
		}
		@include breakpoint(phone-h) {
			@include font-size(4);
		}
	}
	.mid-block {
		.mid-left,
		.mid-right {
			margin-top: -31.375em;

			@include breakpoint(tablet-v) {
				margin-top: 0;
			}
		}
		.mid-left {
			.card-title {
				background-color: $color__purple;
			}
			.textblock {
				height: auto;
				padding: 0 4em;
				
				@include breakpoint(tablet-h) {
					padding: 0 2em;
				}
				@include breakpoint(tablet-v) {
					padding: 0 1em;
				}
			}

			.l-content {
				@include font-size(1.125);
			}
		}
		.mid-right {
			.card-title {
				background-color: $color__bg;
				bottom: 0;
			}
		}
		.textblock .message {
			font-weight: $font__weight-bold;
			line-height: 1.5;
			padding: 0;
			@include font-size(2.1875);

			@include breakpoint(tablet-h) {
				@include font-size(1.875);
			}
			@include breakpoint(tablet-v) {
				@include font-size(1.5);
			}
		}
	}

	.ab-title {
		padding: 0;
		@include font-size(1.875);
	}
	.accordion-block .ab-right {
		padding: 0 2em 1em 0;

		@include breakpoint(tablet-v) {
			padding-right: 0;
		}
	}

	.accordion {
		&:hover,
		&.active {
			background-color: $color__blue-xlt;
		}
	}
	.variable-images {
		margin-bottom: 8em;
		@include breakpoint(tablet-v) {
			margin-bottom: 4em;
		}
		@include breakpoint(phone-h) {
			margin-bottom: 1em;
		}
	}

	.quote-block {
		margin-top: 8em;

		@include breakpoint(tablet-h) {
			margin-top: 4em;
		}
	}
}
