.quote-block {
	clear: both;
	padding-top: 8em;
	padding-bottom: 4em;
	position: relative;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;

	&.orange {background-color: $color__orange;}
	&.green {background-color: $color__green;}
	&.yellow {background-color: $color__yellow;}
	&.blue {background-color: $color__blue;}
	&.tan {background-color: $color__tan;}
	&.purple {background-color: $color__purple;}

	@include breakpoint(tablet-v) {
		padding-top: 3em;
		padding-left: 3%;

		blockquote {
			margin: 0;
		}
	}
	
	.large-link { // Used on Team template mid-quote.
		padding: 2em 0 3em 3em;

		a {
			font-weight: $font__weight-bold;
			@include font-size(1.6875);
		}

		@include breakpoint(tablet-v) {
			padding: 0 0 2.5em $size__site-padding;

			a {
				@include font-size(1.375);
			}
		}
	}

	blockquote {
		line-height: 1.375;
		margin-top: 0;
		padding-top: 0;
		@include font-size(2.8125);

		&:before {
			content: '“';
			position: relative;
			left: .1875em;
		    margin-left: -.625em;
		}

		cite {
			@include font-size(1.4375);

			a {
				@include font-size(1);
				letter-spacing: 1px;
			}
		}

		@include breakpoint(tablet-v) {
			@include font-size(1.875);

			cite {
				@include font-size(1.25);
			}
		}
	}
}
