.opm {
	width: 100%;
}
.opm.stuck {
	position: fixed;
	float:none;
	top: 0;
	right: 0;
	z-index: 6;
}
.onpage-menu {
	float: right;
	background-color: #ffffff;

}

.opm-text {
	background-color: #ffffff;
	font-weight: $font__weight-bold;
	float: left;
	letter-spacing: 1px;
	padding: .375em 1em .5em;
}

.opm-section-menu {
	background-color: #ffffff;
	float: left;


	.opm-sections {
		border-bottom: 1px solid $color__base;
		padding-bottom: .5em;
		width: 300px;

		.current {
			@include font-size(1.375);
			line-height: 1.25;
			padding: .25em 0 0 .75em;
		}
		.tp1,.tp2,.tp3,.tp4 {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.opm-menu {
		background-color: #fff;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, .15);
		border-bottom: 1px solid $color__base;
		width: 300px;
		display: none;
		padding: .5em 1em 0;
		position: absolute;
		top: 100%;
		z-index: 5;
	}
}

.site-content .opm-menu {
	a {
		display: inline-block;
		border-bottom: 0;
		line-height: 1.5;
		margin-bottom: .5em;
		padding: 0;
		@include font-size(1.375);

		span {
			padding-bottom: .125em;
		}

		&:hover,
		&:focus,
		&.active {
			padding: 0;
			outline: 0;

			span {
				padding-bottom: .0625em;
				border-bottom: 2px solid $color__base;
			}
		}
	}
}

.opm-arrow {
	float: left;
	line-height: 1;
	margin-top: .75em;

	.cssicon-updown {
		cursor: pointer;
	}
}
