body.past {
	background-color: #ffd2b5;

	.intro {
		padding-bottom: 10em;
		width: 80%;

		@include breakpoint(tablet-v) {
			padding-bottom: 2em;
			width: 100%;
		}
	}
	.exhibit-right-top {
	    margin-top: -24em;

		@include breakpoint(tablet-v) {
			margin-top: 2em;
		}
	}
	.exhibit-left {
		margin-top: -3.375em;
		@include breakpoint(tablet-v) {
			margin-top: 0;
			margin-bottom: 2em;
		}
	}

	.exhibit-right-top {
		margin-top: -18em;
		margin-bottom: 12em;

		@include breakpoint(tablet-v) {
			margin-top: 0;
			margin-bottom: 2em;
		}
	}
	.exhibit-left {
		@include breakpoint(tablet-v) {
			margin-top: 0;
		}
	}

	.el-image img {
		height: 586px;
	}

	.past-top {
		margin-top: 12em;
	}
	.past-exhibits {
		margin-bottom: 4em;
	}
	.x-past-exhibits {
		display: none;
	}

	.viewmore-past {
		text-align: right;
		margin-bottom: 4em;

		.viewmore {
			border-bottom: 1px solid $color__base;
			cursor: pointer;
			display: inline-block;
			padding-bottom: 4px;
			font-weight: $font__weight-bold;
		}

		.cssicon-plusminus {
			margin-left: 1em;
		}
	}

	.calltoaction {
		margin-top: 8em;
	}
}

body.past.seeart{
	.intro {
		width: 70%;
		@include breakpoint(tablet-v) {
			width: 100%;
		}
	}
}

.past-exhibits {
	.cssicon-arrow-r {
		cursor: pointer;

		&:hover {
			opacity: .7;
		}
	}
}
