/* 24px PROGRESS BAR */
@keyframes bg {
    0% {
        background-size:    24px 0,
                            0 24px,
                            24px 0,
                            0 24px;
    }
    25% {
        background-size:    24px 0,
                            0 24px,
                            24px 0,
                            100% 24px;
    }
    50% {
        background-size:    24px 0,
                            0 24px,
                            24px 100%,
                            100% 24px;
    }
    75% {
        background-size:    24px 0,
                            100% 24px,
                            24px 100%,
                            100% 24px;
    }
    100% {
        background-size:    24px 100%,
                            100% 24px,
                            24px 100%,
                            100% 24px;
    }
}

/* 12px PROGRESS BAR */
@keyframes fibg {
    0% {
        background-size:    12px 0, //tl
                            0 12px, // tr
                            12px 0, // br
                            0 12px; //bl
    }
    25% {
        background-size:    12px 0,
                            0 12px,
                            12px 0,
                            100% 12px;
    }
    50% {
        background-size:    12px 0,
                            0 12px,
                            12px 100%,
                            100% 12px;
    }
    75% {
        background-size:    12px 0,
                            100% 12px,
                            12px 100%,
                            100% 12px;
    }
    100% {
        background-size:    12px 100%,
                            100% 12px,
                            12px 100%,
                            100% 12px;
    }
}

.progbar-trigger {
	position: relative;
}
.progbar-trigger:hover .progbar,
.heroimage .progbar,
.exhibition-featured-img .progbar,
.sl.slick-current .progbar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;

    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, $color__orange 100%, $color__orange 100%),
                        linear-gradient(to bottom, $color__orange 100%, $color__orange 100%),
                        linear-gradient(to right, $color__orange 100%, $color__orange 100%),
                        linear-gradient(to bottom, $color__orange 100%, $color__orange 100%);
    background-size:    100% 12px,
                        12px 100%,
                        100% 12px,
                        12px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;

	animation-name: fibg;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;

	&.big {
		animation-name: bg;
		background-size:    100% 24px,
	                        24px 100%,
	                        100% 24px,
	                        24px 100%;
	}

	&.slow {
		animation-duration: 5s;
	}

	&.green {
		background-image:   linear-gradient(to right, $color__green 100%, $color__green 100%),
	                        linear-gradient(to bottom, $color__green 100%, $color__green 100%),
	                        linear-gradient(to right, $color__green 100%, $color__green 100%),
	                        linear-gradient(to bottom, $color__green 100%, $color__green 100%);
	}
	&.yellow {
		background-image:   linear-gradient(to right, $color__yellow 100%, $color__yellow 100%),
	                        linear-gradient(to bottom, $color__yellow 100%, $color__yellow 100%),
	                        linear-gradient(to right, $color__yellow 100%, $color__yellow 100%),
	                        linear-gradient(to bottom, $color__yellow 100%, $color__yellow 100%);
	}
	&.blue {
		background-image:   linear-gradient(to right, $color__blue 100%, $color__blue 100%),
	                        linear-gradient(to bottom, $color__blue 100%, $color__blue 100%),
	                        linear-gradient(to right, $color__blue 100%, $color__blue 100%),
	                        linear-gradient(to bottom, $color__blue 100%, $color__blue 100%);
	}
	&.tan {
		background-image:   linear-gradient(to right, $color__tan 100%, $color__tan 100%),
	                        linear-gradient(to bottom, $color__tan 100%, $color__tan 100%),
	                        linear-gradient(to right, $color__tan 100%, $color__tan 100%),
	                        linear-gradient(to bottom, $color__tan 100%, $color__tan 100%);
	}
	&.purple {
		background-image:   linear-gradient(to right, $color__purple 100%, $color__purple 100%),
	                        linear-gradient(to bottom, $color__purple 100%, $color__purple 100%),
	                        linear-gradient(to right, $color__purple 100%, $color__purple 100%),
	                        linear-gradient(to bottom, $color__purple 100%, $color__purple 100%);
	}
}
