.hero-wrap {
	clear: both;
	position: relative;
	background-color: $color__orange;
}
.heroimage,
.heroslider {
	img {
		width: 100%;
		max-width: none;
		min-height: 500px;
		object-fit: cover;;
	}
}
.hero-callout {
	background-color: $color__orange;
	padding: 1.5em 2em;
	width: 40%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;

	@include breakpoint(tablet-v) {
		width: 90%;
	}

	.link {
		float:left;
		width: 45%;

		a {
			border: none;
			padding: 0;
			@include bigtext();

			span {
				padding-bottom: 3px;
				border-bottom: 1px solid $color__base;
			}

			&:hover {
				padding: 0;

				span {
					padding-bottom: 2px;
					border-bottom: 2px solid $color__base;
				}
			}
		}
	}

	.date {
		float:right;
		text-align: right;
		width: 55%;
	}

	.text {
		clear: both;
		padding-top: .75em;
		font-weight: $font__weight-light;
		@include font-size(1.625);

		@include breakpoint(tablet-v) {
			padding-top: .5em;
			line-height: 1.25;
			@include font-size(1.375);
		}
	}
}

.content-wrap {
	background-color: #ffffff;
}

.return {
	float: left;
	font-weight: $font__weight-bold;
	letter-spacing: 2px;
	margin-bottom: 2em;
	padding-top: 1em;
	@include font-size(1);

	@include breakpoint(tablet-v) {
		float: none;
		display: block;
		padding-top: 0;
	}
	@include breakpoint(phone-h) {
		@include font-size(.75);
		letter-spacing: 1px;
		margin-bottom: .5em;
	}

	a {
		color: $color__base;
		text-transform: uppercase;

		&:hover {
			opacity: .75;
		}
	}
}


.slickeroo {
	visibility: hidden;
	&.slick-initialized {
		visibility: visible;
	}
}

.extended {
	display: none;
}

.vc-wrap {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}
