.content-wrap {
	background-color: #fffbf5;
}

.return {
	float: left;
	font-weight: $font__weight-bold;
	letter-spacing: 2px;
	margin-bottom: 2em;
	padding-left: 1.5rem;
	padding-top: 1em;
	@include font-size(1);

	@include breakpoint(tablet-v) {
		float: none;
		display: block;
		padding-top: 0;
	}
	@include breakpoint(phone-h) {
		letter-spacing: 1px;
		margin-bottom: .5em;
		@include font-size(.75);
	}

	a {
		color: $color__base;
		text-transform: uppercase;

		&:hover {
			opacity: .75;
		}
	}
}

.info-block {
	padding-bottom: 2em;

	.info-row1 {
		font-weight: $font__weight-light;
		@include font-size(1.875);
	}
}

.extended {
	display: none;
}

.vc-wrap {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.site-content .social-link a,
.site-content .pe-button a {
	@include nb();
}
