.variable-images {
	margin-bottom: 4em;

	@include breakpoint(tablet-v) {
		margin-bottom: 0;
	}
}
.variable-image {
	margin-bottom: 2em;

	img {
		border: 1px solid $color__base;
		display: block;
		height: auto;
		width: 100%;
	}
	.caption {
		margin-top: .5em;
	}
	&.img-1 {
		width: 70%;
		margin: 0 auto;
	}
	&.img-2 {
		float: left;
		width: 49%;
		&:last-of-type {
			float: right;
		}
	}
	&.img-3 {
		float: left;
		width: 32%;
		margin-right: 2%;
		&:last-of-type {
			float: right;
			margin-right: 0;
		}
	}
	&.img-4 {
		float: left;
		width: 23%;
		margin-right: 2.625%;
		&:last-of-type {
			float: right;
			margin-right: 0;
		}
	}
	@include breakpoint(tablet-v) {
		&.img-1,
		&.img-2,
		&.img-3,
		&.img-4 {
			float: none;
			width: 100%;
			margin-right: 0;
		}
	}
}

.v2 {
	.variable-image {
		&.img-2 {
			float: right;
			width: 30%;
			margin-right: 3%;
		}
		&.img-3 {
			float: left;
			width: 32%;
			margin-right: 2%;
			&:last-of-type {
				float: right;
				margin-right: 0;
			}
		}
		&.img-4 {
			float: left;
			width: 23%;
			margin-right: 2.625%;
			&:last-of-type {
				float: right;
				margin-right: 0;
			}
		}
		@include breakpoint(tablet-v) {
			&.img-1,
			&.img-2,
			&.img-3,
			&.img-4 {
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}
	}
}
