body.calendar {
	background-color: $color__yellow-xxlt;

	.hero-callout {
		background-color: $color__yellow-xxlt;
	}

	.page-title {
		line-height: 1;
		margin: 1em 0 1.5em;
		@include font-size(7);

		@include breakpoint(tablet-h) {
			width: 100%;
		}
		@include breakpoint(tablet-v) {
			@include font-size(6);
			margin-bottom: 1em;
		}
		@include breakpoint(phone-h) {
			@include font-size(4);
		}
	}

	.x-events {
		display: none;

		.event:nth-of-type(1) {
			border-top-width: 0;
		}
	}

	.event {
		border-style: solid;
		border-width: 1px 1px 0 1px;
		clear: both;
		border-color: $color__yellow-xxlt;

		&:hover {
			background-color: $color__yellow-xxlt;
		}

		&:nth-last-of-type(1) {
			border-bottom-width: 1px;
		}

		h3 {
			@include font-size(1.625);
		}

		&:nth-child(2n+2) {
			.e-image {
				float: right;
				order: 3;

				@include breakpoint(tablet-v) {
					float: none;
					order: 0;
				}
			}
		}
	}

	.e-heading {
		@include breakpoint(tablet-v) {
			padding: 0 $size__site-padding 1.5em;
		}
	}

	.e-upper {
		display: flex;
		flex-wrap: wrap;
	}

	.e-image {
		margin-left: 0;
		order: 0;
		img {
			display: block;
			max-width: none;
			height: 240px;
			object-fit: cover;;
			width: 100%;
		}
	}

	.e-date,
	.e-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cssicon-arrow-r {
		cursor: pointer;

		&:hover {
			opacity: .7;
		}
	}

	@include breakpoint(tablet-v) {
		.e-date,
		.e-button {
			float: left;
			margin-bottom: 2em;
			width: 50%;
		}
		.e-date {
			justify-content: space-between;
			padding-left: $size__site-padding;
		}
	}

	.vm-wrap {
		margin-bottom: 10em;
	}

	.viewmore-events {
		text-align: right;
		margin-top: 4em;

		.viewmore {
			border-bottom: 1px solid $color__base;
			cursor: pointer;
			display: inline-block;
			padding-bottom: 4px;
			font-weight: $font__weight-bold;
		}

		.cssicon-plusminus {
			margin-left: 1em;
		}
	}
}



body.single-event {
	background-color: $color__yellow-xxlt;

	.hero-callout {
		background-color: $color__yellow-xxlt;

		.date {
			float: none;
			font-weight: $font__weight-light;
		    text-align: left;
		    width: auto;
			@include font-size(2.1875);

			@include breakpoint(tablet-v) {
				@include font-size(1.5);
			}
		}
	}

	.page-title {
		line-height: 1.25;
		margin: 1.5em 0 2.5em 1.5rem;
		width: 70%;
		@include font-size(2.8125);

		@include breakpoint(tablet-h) {
			width: 100%;
		}
		@include breakpoint(tablet-v) {
			@include font-size(2);
			margin-bottom: 1em;
		}
		@include breakpoint(phone-h) {
			margin: .5em 0;
			@include font-size(1.5);
		}
	}

	.e-intro {
		font-weight: $font__weight-light;
		padding-right: 6em;
		padding-left: 1.5rem;
		@include font-size(1.625);

		@include breakpoint(tablet-v) {
			margin-bottom: 1em;
			padding-right: 0;
			padding-left: 0;
			@include font-size(1.5);
		}
	}
	.e-content {
		padding-right: 6em;
		margin-bottom: 8em;

		@include breakpoint(tablet-v) {
			padding-right: 0;
		}
	}
	.e-info {
		padding-left: 1.5rem;
		margin-bottom: 6em;
	}
	.e-social {
		margin-bottom: 6em;
		text-align: right;
		p {
			margin-bottom: 0;
		}
		.ss-wrap {
			width: 200px;
			float: right;
		}
	}
}

.site-content .e-button a {
	@include nb();
}
