[class*=cssicon-] {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: currentColor;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
}
[class*=cssicon-]:after, [class*=cssicon-]:before {
    content: '';
    pointer-events: none;
}


// ARROWS - - - - - - - - - - - - - - - - - -

// PlusMinus
.cssicon-plusminus {
	color: currentColor;
	cursor: pointer;
	font-weight: $font__weight-light;
	height: 40px;
	width: 40px;


	&:hover {
		opacity: .75;
	}
	&.plus:before {
		background-color: currentColor;
		position: absolute;
		top: 20px;
		left: 0;
		width: 40px;
		height: 1px;
	}
	&.plus:after {
		background-color: currentColor;
 		position: absolute;
		top: 20px;
		left: 0;
		width: 40px;
		height: 1px;
		transform: rotate(90deg);
	}
	&.minus:before {
		color: #000;
	    width: 40px;
	    height: 1px;
	    background-color: currentColor;
		position: absolute;
		top: 20px;
		left: 0;
	}

	&.small {
		height: 30px;
		width: 30px;
		&.plus:before {
			top: 15px;
			width: 30px;
		}
		&.plus:after {
			top: 15px;
			width: 30px;
		}
		&.minus:before {
			top: 15px;
		    width: 30px;
		}
	}

	@include breakpoint(tablet-v) {
		height: 30px;
		width: 30px;
		&.plus:before {
			top: 15px;
			width: 30px;
		}
		&.plus:after {
			top: 15px;
			width: 30px;
		}
		&.minus:before {
			top: 15px;
		    width: 30px;
		}
	}
}

// LEFT
.cssicon-arrow-l {
	color: currentColor;
	text-indent: 0;
	margin-right: .5em;
	width: 10px;
	height: 16px;
}
.cssicon-arrow-l:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 8px;
	height: 1px;
	background-color: currentColor;
	transform: rotate(45deg);
}
.cssicon-arrow-l:after {
	content: '';
	position: absolute;
	left: 0;
	top: 4px;
	width: 8px;
	height: 1px;
	background-color: currentColor;
	transform: rotate(-45deg);
}

// RIGHT
.cssicon-arrow-r {
	color: currentColor;
	text-indent: 0;
	margin-right: .5em;
	width: 30px;
	height: 40px;

	&:before {
		content: '';
		position: absolute;
		top: 29px;
		left: 0;
		width: 28px;
		height: 1px;
		background-color: currentColor;
		transform: rotate(-45deg);
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top:10px;
		width: 28px;
		height: 1px;
		background-color: currentColor;
		transform: rotate(45deg);
	}

	&.small {
		margin-right: 0;
		width: 15px;
		height: 20px;
		&:before {
			top: 14px;
			width: 14px;
		}
		&:after {
			top: 5px;
			width: 14px;
		}
	}
}

// UP/DOWN
.cssicon-updown {
	color: currentColor;
	text-indent: 0;
	width: 24px;
	height: 16px;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 14px;
		height: 1px;
		background-color: currentColor;
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		width: 14px;
		height: 1px;
		background-color: currentColor;
	}

	// UP
	&.up:before {
		transform: rotate(-45deg);
	}
	&.up:after {
		transform: rotate(45deg);
	}
	// DOWN
	&.down:before {
		transform: rotate(45deg);
	}
	&.down:after {
		transform: rotate(-45deg);
	}
}


// X  ... Close rather
.cssicon-x {
	color: currentColor;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	width: 100%;
	height: 100%;

	&:before {
	  position: absolute;
	  display: block;
	  top: 50%;
	  width: 100%;
	  height: 1px;
	  background-color: currentColor;
	  transform: rotate(-45deg);
	}
	&:after {
	  position: absolute;
	  display: block;
	  top: 50%;
	  width: 100%;
	  height: 1px;
	  background-color: currentColor;
	  transform: rotate(45deg);
	}
}


// FILE
.cssicon-file {
	background-image: url(assets/images/folder.png);
	background-size: 16px 21px;
	background-position: center;
	height: 21px;
	width: 16px;
	top: -2px;
}


// SOCIAL - - - - - - - - - - - - - - - - - -
// INSTAGRAM
.cssicon-instagram {
    background-color: transparent;
    border-radius: .375em;
    border: 2px solid currentColor;
    height: 1.5em;
    margin: 0;
    width: 1.5em;

	&:before,
	&:after {
		position: absolute;
	}
	&:before {
		height: 2px;
		width: 2px;
		background-color: currentColor;
		top: 3px;
		right: 3px;
	}
	&:after {
	    background-color: transparent;
	    border-radius: 50%;
	    border: 2px solid currentColor;
	    height: .75em;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: .75em;
	}
}

// FACEBOOK
.cssicon-facebook {
    background-color: currentColor;
    height: 1.5em;
    border-radius: .125em;
    margin: 0;
	width: 1.5em;

	&:after {
		content: 'f';
		color: #000000;
		font-weight: $font__weight-bold;
		left: 3px;
		line-height: 1;
		position: absolute;
		text-indent: 0;
		text-align: center;
		top: 0;
		width: 100%;
		@include font-size(1.625);
	}
}

// LINKEDIN
.cssicon-linkedin {
    background-color: currentColor;
    height: 1.5em;
    border-radius: .125em;
    margin: 0;
	width: 1.5em;

	&:after {
		content: 'in';
		color: #000000;
		font-weight: $font__weight-bold;
		left: 1px;
		line-height: 1;
		position: absolute;
		text-indent: 0;
		text-align: center;
		top: 0;
		width: 100%;
		@include font-size(1.5);
	}
}

// TWITTER
.cssicon-twitter {
	color: currentColor;
    width: 22px;
    height: 20px;
	background-image: url(assets/images/tbird.png);
	background-size: 22px 20px;
	background-position: center;
}

.iconwrap {
	padding: .625em .625em .875em;
	margin-right: .5em;
	border: 1px solid currentColor;

	&.c {
		border-radius: 50%;
	}
}
