/* ## Slick Slider
--------------------------------------------- */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;

	&:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {
	  display: table;
	  content: '';
	}

	&:after {
	  clear: both;
	}

	.slick-loading & {
	  visibility: hidden;
	}
}
.slick-slide {
	background-color: #ffffff;
	float: left;
	height: 100%;
	min-height: 1px;
	//margin: 0;
	[dir="rtl"] & {
        float: right;
    }
	img {
		display: block;
		//width: 100%;
	}
	&.slick-loading img {
        display: none;
    }

	display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

	.slick-loading & {
        visibility: hidden;
    }

	.slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
	display: none;
}


// HEROSLIDER -------------------------------------
.heroslider {
	overflow:hidden;
}
.heroslider .slick-slide {
	visibility: hidden;
}
.heroslider .slick-slide:first-child {
	visibility: visible;
}
.heroslider.slick-initialized {
	overflow: visible;
}
.heroslider.slick-initialized .slick-slide {
	visibility: visible;
}

/* Arrows ------------------------------------- */
.prev,
.next {
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 2;
	top: 50%;
	padding: 0;
	margin-top: -10px\9; /*lte IE 8*/
	transform: translate(0, -50%);
	outline: none;
}

.prev.slick-disabled:before,
.next.slick-disabled:before {
	opacity: .15;
}

.prev:before,
.next:before {
	background: transparent;
	border: 0;
	color: transparent;
    content: "";
    display: inline-block;
	font-weight: $font__weight-light;
    height: 1em;
    line-height: 1;
	outline: none;
    position: relative;
    top: .25em;
    transform: rotate(45deg);
    width: 1em;
	@include font-size(1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.prev {
	right: 50px;
}
.prev:before {
	border-left: 1px solid $color__base;
	border-bottom: 1px solid $color__base;
}
.next {
	right: 0;
}
.next:before {
	border-right: 1px solid $color__base;
	border-top: 1px solid $color__base;
}

.prev:hover:before,
.next:hover:before  {
	outline: none;
	opacity: .70;
}


/* Dots ------------------------------------- */
.slick-slider {
	margin-bottom: 30px;
}
.content ul.slick-dots {
	margin-left: 0;
}
.slick-dots {
  position: absolute;
  bottom: -60px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}
@media all and (max-width: 768px) {
	.slick-dots {
		bottom: -68px;
	}
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 8px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	background: #fff;
	border-radius: 50%;
	border: 2px solid #ccc;
	color: transparent;
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	display: block;
	width: 22px;
	height: 22px;
}
.slick-dots li button:hover {
	opacity: 1;
}
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	text-align: center;
}

li.slick-active button:before {
	background: #000000;
}
