/*
 * Utility
--------------------------------------------- */

@include breakpoint(tablet-min-v) {
	.mobile-only {
		display: none;
	}
}
@include breakpoint(tablet-v) {
	.desktop-only {
		display: none;
	}
}

.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}

.fwn {
	font-weight: $font__weight-normal;
}
.fwl {
	font-weight: $font__weight-light;
}

.to-left {
	position: relative;
    margin-left: -.5em;
}

.red {
	color: #984e1f
}
.grn {
	color: $color__green;
}
.blu {
	color: $color__blue;
}
.pur {
	color: $color__purple;
}

.big {
	font-size: 125%;

	@include breakpoint(tablet-v) {
		font-size: 120%;
		line-height: 1.5;
	}
}
.right-dq {
	line-height: 0;

	&:before {
		content: '”';
		position: relative;
		top: 0;
		left: -0.125em;
	}
}

.intro {
	font-weight: $font__weight-light;
	@include font-size(1.875);

	@include breakpoint(tablet-v) {
		@include font-size(1.5);
		line-height: 1.5;
	}
}

.circle-num {
	background-color: #000000;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	height: 28px;
	line-height: 1.75;
	text-align: center;
	vertical-align: middle;
	width: 28px;
	min-width: 28px;
	position: relative;
	margin-left: -2em;
	@include font-size(1);
}

.entry-content .num-list {
	margin-bottom: 2em;
	margin-left: 2.5em;
	line-height: 1.5;

	li {
		margin-bottom: 1em;
		@include font-size(1.125);
	}
}

.oh {
	overflow: hidden;
}
