/*
 * Utility
--------------------------------------------- */

@include breakpoint(tablet-min-v) {
	.mobile-only {
		display: none;
	}
}
@include breakpoint(tablet-v) {
	.desktop-only {
		display: none;
	}
}

.ta-center {
	text-align: center;
}
.ta-right {
	text-align: right;
}
img.flex {
	width: 100%;
}

.fwn {
	font-weight: $font__weight-normal;
}
.fwl {
	font-weight: $font__weight-light;
}

.to-left {
	position: relative;
	left: -.5em;
    margin-left: -.5em;
}

.red {
	color: #984e1f
}
.grn {
	color: $color__green;
}

.open-time {
	font-weight: $font__weight-light;
	@include font-size(3.5);
}

.big {
	font-size: 125%;
}
