input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.btn {
	background-color: transparent;
	color: $color__base;
	border: 1px solid $color__base;
	cursor: pointer;
	line-height: normal;
	padding: .75em 1.5em;
	position: relative;
	text-decoration: none;
	white-space: normal;
	z-index: 1;
	font-weight: $font__weight-bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;

	&:hover,
	&:focus,
	&:active {
		background-color: #000000;
		color: #ffffff;
		outline: 0;
	}

	@include breakpoint(phone-h) {
		padding: .75em .5em;
		letter-spacing: 1spx;
	}
}

.btn {
	display: inline-block;
	padding-right: 3em;

	&.black {
		background-color: #000000;
		color: #ffffff;

		&:hover,
		&:focus,
		&:active {
			background-color: #ffffff;
			color: #000000;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: calc(50% + 5px);
		right: .75em;
		width: 15px;
		height: 2px;
		background-color: currentColor;
		transform: rotate(-45deg);
	}
	&:after {
	  content: '';
	  position: absolute;
	  right: .75em;
	  top: calc(50% - 5px);
	  width: 15px;
	  height: 2px;
	  background-color: currentColor;
	  transform: rotate(45deg);
	}
	&.wide {
		width: 60%;
		text-align: center;
	}
	&.xwide {
		width: 100%;
		text-align: center;
	}


}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		padding: 1.25em 1em 1em;
	}
}
