input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background-color: transparent;
	border: 1px solid $color__base;
	padding: .5em 1.5em;
	width: 100%;
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}
}

select {
	border: 1px solid $color__base;
}

.post-password-form {
	input[type="password"] {
		width: auto;
		margin-bottom: 1em;
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: #fff;
}
