.search-form {
	clear: both;
	position: relative;

	input[type="search"] {
		border-color: $color__base-medium;
		display: inline-block;
	}

	input[type="submit"] {
		background: transparent;
		border: none;
		border-left: 1px solid $color__base-medium;
		display: inline-block;
		padding: .5625em .75em;
		position: absolute;
		right: 0;
		top: 0;
		@include font-size(1.25);

		&:hover,
		&:focus {
			background-color: $color__yellow;
		}
	}
}
