.search-form {
	clear: both;
	position: relative;

	input[type="search"] {
		border-color: $color__base-medium;
		color: currentColor;
		display: inline-block;

		&:focus {
			background-color: transparent;
		}
	}

	input[type="submit"] {
		border: none;
		border-left: 1px solid $color__base-medium;
		display: inline-block;
		padding: .5625em .75em;
		position: absolute;
		right: 0;
		top: 0;
		@include font-size(1.25);
	}
}

body.error404 {
	.page-content .search-form {
		width: 70%;
		margin: 1em auto;

		@include breakpoint(tablet-v) {
			width: 100%;
		}
	}
}
body.search {
	.content-area .search-form {
		width: 70%;
		margin: 1em 0 5em;

		@include breakpoint(tablet-v) {
			width: 100%;
		}
	}
}
