q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

blockquote {
	font-weight: $font__weight-light;
	margin: .75em 1.5em 1.5em 0;
	padding: 0 1em 0;
	position: relative;
	quotes: "\201C""\201D""\201C""\201D";

	@include breakpoint(phone-h) {
		padding: 0 .5em 0;
	}

	&:after {
		content: "";
	}

	&:before {
		content: "";
	}

	cite {
		display: block;
		font-style: normal;
		line-height:1.25;
		margin-top: 1em;
		font-size: 75%;

		a {
			color: $color__base;
			@include bigtext();
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}
